<!DOCTYPE html>
<html>
    <head>
        <title>loginformarks</title>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hanalei&display=swap" rel="stylesheet">
    </head>
    <body>
        <form class="form" action='/displaymarks' id="form" method="POST">
            <fieldset>
                <legend>
                    Temperature Range
                </legend>
                Click on Display<br> <br> 
                <input type="submit" Value="Display"></input>
            </fieldset>
        </form>
    </body>
</html>

